/* Hero.css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 132rem;
    padding: 4rem 6rem;
    background-color: #000000;
    flex-wrap: wrap;
    gap: 2rem;
}

.hero-content {
    flex: 1;
    max-width: 550px;
}

.hero-content h1 {
    font-size: clamp(1.4rem, 3vw, 2.5rem);
    line-height: 1.2;
    margin-bottom: clamp(0.8rem, 2vw, 1.5rem);
    color: white;
}

.hero-content p {
    font-size: clamp(0.6rem, 1vw,1rem);
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.733);
    margin-bottom: clamp(0.8rem, 2vw, 2rem);
}

.hero-content button {
    background-color: #007BFF;
    color: #fff;
    padding: clamp(0.6rem, 2vw,0.7rem) clamp(0.8rem, 2vw, 1.3rem);
    border: none;
    border-radius: 4px;
    font-size: clamp(0.7rem, 2vw, 1rem);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero-content button:hover {
    background-color: #0056b3;
}

.hero-img {
    flex: 1;
    text-align: center;
}

.hero-img img {
    max-height: 28rem;
    object-fit: cover;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .hero-content{
        width: 100%;
    }
    .hero-container {
        flex-direction: column;
        padding: 2rem;
    }
}
