.searchFilter-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 80rem;
  width: 100%;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  margin-bottom: 1.5rem;
}
.searchFilter-container input,
.filter-section,
.searchFilter-btn{
  background-color: #555;
  border: none;
  cursor: pointer;
  border: 1px solid #ccc;
}
.searchFilter-container input {
  flex: 0.5;
  color: white;
  min-width: 200px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
  cursor:text;
}

.filter-section {
  color: white;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-weight: 700;
  cursor: pointer;
  transition: border-color 0.3s;
}

.filter-section:focus {
  border-color: #007bff;
}

.searchFilter-btn{
  padding: 0.5rem;
  border-radius: 6px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

@media screen and (max-width:476px) {
  .searchFilter-container input{
    min-width: 100%;
  }
  .filter-section{
    min-width: 100%;
  }
}